html ,
body {
    height: 95%;
}

body {
    background-image: url('https://i.stack.imgur.com/zRInk.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.form-bg {
    background-color: white;
}

#revelaPassword, #revelaPassword:hover {
    text-decoration: none;
    color:#333;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #343a40;
    color: #f3f3f3;
}